<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class=" me-2"></i>Alexa<span style="color: rgba(0, 0, 0, 0.74);">
                            Cars</span></h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        {{!-- <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        --}}
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-2">{{adminData.email}}</h6>
                        {{!-- <span>Admin</span> --}}
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/admin-panel" class="nav-item nav-link "><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    {{!-- <div class="nav-item dropdown"> --}}
                        <a href="/admin/view-cars" class="nav-link nav-item "><i class="fa fa-laptop me-2"></i>View
                            Cars</a>
                        {{!--
                    </div> --}}


                    <a href="/admin/user-details" class="nav-item nav-link "><i class="fa fa-th me-2"></i>User
                        Detials</a>
                    <a href="/admin/view-coupon" class="nav-item nav-link"><i
                            class="fa fa-keyboard me-2"></i>Coupons</a>
                    {{!-- <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Final Rent Report</a> --}}
                    <hr style="color: #FC6414;">
                    {{!-- <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Details
                        Update</a>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-laptop me-2"></i>Elements</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="button.html" class="dropdown-item">Buttons</a>
                            <a href="typography.html" class="dropdown-item">Typography</a>
                            <a href="element.html" class="dropdown-item">Other Elements</a>
                        </div>
                    </div> --}}

                    {{!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div> --}}
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>