<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center pt-5" >
            <div class="col-8  p-5 bg-wite" style="border-radius:10px ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 15px;">
                <h4 class="mb-3" style="color: #FC6414;text-decoration: underline;">About Us</h4>
                <p>Alexa Cars is a hassle free rent-a-car service brought forward by the house of Alexa Motors. Alexa motors has worked its way to becoming a household name among car dealerships in the country. It has maintained an exceptional sales tenure and has procured one of the top car dealership positions in India for more than a decade.</p>


 <p> Alexa Cars is a prodigy of an outstanding service oriented model and stellar work ethic as exhibited by its parent company. Alexa Cars is dedicated to provide a comfortable rent-a-car experience, making sure all your plans are carried out without an ounce of difficulty. With us, our customers receive a range of facilities like 24 hour assistance and flexible, dynamic pricing to begin with. Our vehicles are fully insured making sure to minimize risk during the course of your journey. We also provide pick up and drop facilities from all major airports in Kerala as well as convenient locations such as your home With a number of travellers passing through our locations everyday, we have with us a large fleet of vehicles on offer to suit your needs.</p>


<p> Alexa Cars strives to be part of the best in the industry and we make sure our service is incomparable. Customer convenience is of prime importance to us. Rent a car with Alexa Cars and you’ll find a different story unfolds in every direction you drive. Celebrate the self-driven with Alexa Cars.</p>
            </div>
        </div>
    </div>
</body>
</html>