<title>Alexa Cars</title>
<link rel="stylesheet" href="/stylesheets/index.css">






<body>

    {{!--=================== Hero Section Start =======================--}}

    <section class="hero">
        <div class="hero-container ">
            <div class="container ">
                <div class="row ">
                    <div class="col-12 col-md-6  m-auto pt-5">
                        <div class="finder  d-flex align-items-center justify-content-center ">
                            <form action="/user/rentacar-now" class="" method="post" id="searchForm">
                                <h3 class="text-dark " style="display: inline;">Make Your Trip</h3>
                                <div class="form-group">
                                    <label for="" class="label text-dark">Pick-up location</label>
                                    <input type="text" class="form-control" name="pickuplocation" id="pickup-location"
                                        autocomplete="off">
                                    <img src="/images/icons8-location.gif" alt="" style="width:24px;height:24px;"
                                        class="location-icon">
                                </div>
                                <div class="form-group">
                                    <label for="" class="label text-dark">Drop-off location</label>
                                    <input type="text" class="form-control" name="dropofflocation" autocomplete="off">
                                    <img src="/images/icons8-location.gif" alt="" style="width:24px;height:24px;"
                                        class="location-icon">
                                </div>




                                <div class="d-flex">
                                    <div class="form-group me-1">
                                        <label for="" class="label text-dark">Pick-up date</label>
                                        <input type="text" class="basicDate form-control dateTim " name="pickupdate"
                                            placeholder="" id="">
                                        <img src="/images/icons8-calendar.gif" alt="" style="width:24px;height:24px;"
                                            class="date-icon">
                                    </div>
                                    <div class="form-group ms-1">
                                        <label for="" class="label text-dark">Drop-off date</label>
                                        <input type="text" class="basicDate form-control dateTime " id=""
                                            name="dropoffdate" placeholder="">
                                        <img src="/images/icons8-calendar.gif" alt="" style="width:24px;height:24px;"
                                            class="date-icon">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control searchbtn">Rent A Car Now</button>
                                </div>
                            </form>
                        </div>
                    </div>




                    <div class="col-12 col-md-6 m-auto ">
                        <div class="info container-fluid ">
                            <h1 class="mb-4 text-white fw-bold">Fast &amp; Easy<br> Way To Rent A Car</h1>
                            <h4 style="font-size: 18px; color: white;">You can rent self-drive cars on a daily, weekly,
                                fortnightly and monthly basis. The pricing of each is dynamic, depending on the model of
                                the car, duration of the rental period, price
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{!--========================= Hero Section End ==========================--}}






    {{!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
    <!--  Flatpickr  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
    <script>



        $(".basicDate").flatpickr({
            enableTime: true,
            dateFormat: "F, d Y H:i",
            minDate: "today",
            maxDate: new Date().fp_incr(30),
            disableMobile: "true"
        });




    </script>

    {{!-- ================ Search Form Validation Start ================== --}}


    {{!--
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchForm").validate({
                errorClass: "Errors",
                rules: {
                    pickuplocation: {
                        required: true,
                    },
                    dropofflocation: {
                        required: true,

                    },
                    pickupdate: {
                        required: true,
                    },

                    dropoffdate: {
                        required: true,

                    },

                },
                messages: {
                    pickuplocation: {
                        required: "Please enter the pickup location",

                    },
                    dropofflocation: {
                        required: "Please enter the dropoff location",


                    },
                    pickupdate: {
                        required: "Please enter the pickupdate",

                    },
                    dropoffdate: {
                        required: "confirm password the dropoffdate",
                    }
                }
            })


        })

    </script>


    {{!-- ================ Search Form Validation End ================== --}}






</body>