<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<title>Alexa Cars - Signup</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/stylesheets/user-signup.css">
</head>

<body>
	<div class="wrapper">
		
		<header class="header"> Sign Up</header>
		{{#if userExist}}
		<p class="" style="color:#dc3545 !important;margin-top: 3px;">{{userExist}}</p>
		{{/if}}
		<form action="/user/user-signup" id="signup-form" method="post">

			<div class="field name">
				<div class="input-area">
					<input type="text" placeholder="Name" name="name" autocomplete="off">
					<i class="icon fas fa-user"></i>
					<i class="error error-icon fas fa-exclamation-circle"></i>
				</div>
				<div class="error error-txt">Name can't be blank</div>
			</div>
			<div class="field email">
				<div class="input-area">
					<input type="text" placeholder="Email Address" name="email" autocomplete="off">
					<i class="icon fas fa-envelope"></i>
					<i class="error error-icon fas fa-exclamation-circle"></i>
				</div>
				
				<div class="error error-txt">Email can't be blank</div>
			</div>
			<div class="field phone">
				<div class="input-area">
					<input type="number" placeholder="Phone Number" name="phonenumber" autocomplete="off">
					<i class=" icon fas fa-phone" aria-hidden=""></i>
					<i class="error error-icon fas fa-exclamation-circle"></i>
				</div>
				<div class="error error-txt">Phone Number can't be blank</div>
			</div>



			<div class="field password">
				<div class="input-area">
					<input type="password" id="password" placeholder="Password" name="password">
					<i class="icon fas fa-lock"></i>
					<i class="error error-icon fas fa-exclamation-circle"></i>
				</div>
				<div class="error error-txt">Password can't be blank</div>
			</div>
			<div class="field password">
				<div class="input-area">
					<input type="password"  placeholder="Confirm Password" name="confirmpassword">
					<i class="icon fas fa-lock"></i>
					<i class="error error-icon fas fa-exclamation-circle"></i>
				</div>
				<div class="error error-txt">Password can't be blank</div>
			</div>




			<input type="submit" value="Sign Up">
		</form>

	</div>

	




<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>


<script>

  $(document).ready(function(){
    $("#signup-form").validate({
       errorClass:"Errors",
     rules:{
        name:{
            required:true,
            minlength:4,
            maxlength:15,
            namevalidation:true
        },
        email:{
            required:true,
            
            emailvalidation:true
        },
		phonenumber:{
              required:true,
			  minlength:5,
			  maxlength:10,

		},

        password:{
            required:true,
            minlength:6,
            //strongePassword:true
           
        },
        confirmpassword:{
            required:true,
            equalTo:"#password"
        }
     },
     messages:{
         name:{
             required:"Please enter your name",
             minlength:"At least 4 characters required",
             maxlength:"Maximum 15 characters are allowed"
         },
        phonenumber:{
			required:"Please enter your phonenumber",
             maxlength:"Enter a valid phonenumber"

		},
         email:{
             required:"Please enter your email id",
             email:"Enter a valid email"
         },

        //  password:"Please enter your password",
        confirmpassword:{
             required:"confirm password",
             equalTo:"Password doesn't match"
         }
     }
    })
    $.validator.addMethod("namevalidation", function(value, element) {
            return /^[A-Za-z]+$/.test(value);
    },
      "Sorry,only alphabets are allowed"
   );
   $.validator.addMethod("strongePassword", function(value,element) {
    return /^[A-Za-z0-9\d=!\-@._]$/.test(value) && /[a-z]/.test(value) && /\d/.test(value) && /[A-Z]/.test(value);
    },
    "The password must contain at least 1 number,1 lower case letter, and 1 upper case letter"
    ); 
    $.validator.addMethod("emailvalidation", function(value, element) {
            return /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
    },
      "You have entered an invalid Email id"
   );
  
})
</script>



</body>

</html>