<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Form with Shake Effect | CodingNepal</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>


<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Poppins", sans-serif;
	}

	body {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		 
		background: url(/images/bg_2.jpg) center center no-repeat;
	}

	::selection {
		color: #fff;
		background: #FC6414 !important;
	}

::placeholder {
        
        /* Firefox, Chrome, Opera */
        color: rgba(0, 0, 0, 0.717) !important;
    }

	.wrapper {
		width: 380px;
		padding: 10px 30px 10px 30px;
		/*background: rgb(255, 255, 255);*/
		background-color: rgba(255, 255, 255, 0.859);
		border-radius: 5px;
		text-align: center;
		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
	}

	.wrapper header {
		font-size: 35px;
		font-weight: 600;
	}

	.wrapper form {
		margin: 40px 0;
	}

	form .field {
		width: 100%;
		margin-bottom: 20px;
	}

	form .field.shake {
		animation: shake 0.3s ease-in-out;
	}

	@keyframes shake {

		0%,
		100% {
			margin-left: 0px;
		}

		20%,
		80% {
			margin-left: -12px;
		}

		40%,
		60% {
			margin-left: 12px;
		}
	}

	form .field .input-area {
		height: 50px;
		width: 100%;
		position: relative;
	}

	form input {
		width: 100%;
		height: 100%;
		outline: none;
		padding: 0 45px;
		font-size: 18px;
		background: none;
		caret-color: #FC6414;
		border-radius: 5px;
		border: 1px solid #bfbfbf;
		border-bottom-width: 2px;
		transition: all 0.2s ease;
	}

	form .field input:focus,
	form .field.valid input {
		border-color: #FC6414;
	}

	form .field.shake input,
	form .field.error input {
		border-color: #dc3545;
	}

	.field .input-area i {
		position: absolute;
		top: 50%;
		font-size: 18px;
		pointer-events: none;
		transform: translateY(-50%);
	}

	.input-area .icon {
		left: 15px;
		color: #bfbfbf;
		transition: color 0.2s ease;
	}

	.input-area .error-icon {
		right: 15px;
		color: #dc3545;
	}

	form input:focus~.icon,
	form .field.valid .icon {
		color: #FC6414;
	}

	form .field.shake input:focus~.icon,
	form .field.error input:focus~.icon {
		color: #bfbfbf;
	}

	form input::placeholder {
		color: #bfbfbf;
		font-size: 17px;
	}

	form .field .error-txt {
		color: #dc3545;
		text-align: left;
		margin-top: 5px;
	}

	form .field .error {
		display: none;
	}

	form .field.shake .error,
	form .field.error .error {
		display: block;
	}

	form .pass-txt {
		text-align: left;
		margin-top: -10px;
	}

	.wrapper a {
		color: #5372F0;
		text-decoration: none;
	}

	.wrapper a:hover {
		text-decoration: underline;
	}

	form input[type="submit"] {
		height: 50px;
		margin-top: 30px;
		color: #fff;
		padding: 0;
		border: none;
		background: #FC6414;
		cursor: pointer;
		border-bottom: 2px solid rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease;
		border-radius: 10px;
	}

	form input[type="submit"]:hover {
		background: #ec6a24;
	}
  .Errors {
      color: red;
     
   }
   input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
	
</style>







<body>
	<div class="wrapper">
		
		<header class="header"> Sign Up</header>
		<form action="/user/user-signup" id="signup-form" method="post">

			<div class="field name">
				<div class="input-area">
					<input type="text" placeholder="Name" name="name">
					<i class="icon fas fa-user"></i>
					<i class="error error-icon fas fa-exclamation-circle"></i>
				</div>
				<div class="error error-txt">Name can't be blank</div>
			</div>
			<div class="field email">
				<div class="input-area">
					<input type="text" placeholder="Email Address" name="email">
					<i class="icon fas fa-envelope"></i>
					<i class="error error-icon fas fa-exclamation-circle"></i>
				</div>
				<div class="error error-txt">Email can't be blank</div>
			</div>
			<div class="field phone">
				<div class="input-area">
					<input type="number" placeholder="Phone Number" name="phonenumber">
					<i class=" icon fas fa-phone" aria-hidden=""></i>
					<i class="error error-icon fas fa-exclamation-circle"></i>
				</div>
				<div class="error error-txt">Phone Number can't be blank</div>
			</div>



			<div class="field password">
				<div class="input-area">
					<input type="password" id="password" placeholder="Password" name="password">
					<i class="icon fas fa-lock"></i>
					<i class="error error-icon fas fa-exclamation-circle"></i>
				</div>
				<div class="error error-txt">Password can't be blank</div>
			</div>
			<div class="field password">
				<div class="input-area">
					<input type="password"  placeholder="Confirm Password" name="confirmpassword">
					<i class="icon fas fa-lock"></i>
					<i class="error error-icon fas fa-exclamation-circle"></i>
				</div>
				<div class="error error-txt">Password can't be blank</div>
			</div>




			<input type="submit" value="Sign Up">
		</form>

	</div>

	




<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>


<script>

  $(document).ready(function(){
    $("#signup-form").validate({
       errorClass:"Errors",
     rules:{
        name:{
            required:true,
            minlength:4,
            maxlength:15,
            namevalidation:true
        },
        email:{
            required:true,
            
            emailvalidation:true
        },
		phonenumber:{
              required:true,
			  minlength:5,
			  maxlength:10,

		},

        password:{
            required:true,
            minlength:6,
            //strongePassword:true
           
        },
        confirmpassword:{
            required:true,
            equalTo:"#password"
        }
     },
     messages:{
         name:{
             required:"Please enter your name",
             minlength:"At least 4 characters required",
             maxlength:"Maximum 15 characters are allowed"
         },
        
         email:{
             required:"Please enter your email id",
             email:"Enter a valid email"
         },
        //  password:"Please enter your password",
        confirmpassword:{
             required:"confirm password",
             equalTo:"Password doesn't matche"
         }
     }
    })
    $.validator.addMethod("namevalidation", function(value, element) {
            return /^[A-Za-z]+$/.test(value);
    },
      "Sorry,only alphabets are allowed"
   );
   $.validator.addMethod("strongePassword", function(value,element) {
    return /^[A-Za-z0-9\d=!\-@._]$/.test(value) && /[a-z]/.test(value) && /\d/.test(value) && /[A-Z]/.test(value);
    },
    "The password must contain at least 1 number,1 lower case letter, and 1 upper case letter"
    ); 
    $.validator.addMethod("emailvalidation", function(value, element) {
            return /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
    },
      "You have entered an invalid Email id"
   );
  
})
</script>









</body>

</html>